
.Navbar {
  position: fixed;
  top: 0;  /* starts at that offset, then sticks */
  left: var(--border-width);
  right: var(--border-width);
  height: calc(var(--border-width) * 3.5);
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,0));
  align-items: flex-end;
  padding: 0 3rem 3rem 3rem;
  
  font-size: 1.3rem;
}

.brand {
  color: white;
  
}

.brand .name {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

.brand .page {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.brand .page:hover {
  color: #F2D8A7;
  transition: color 0.2s;
}

.nav-links {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-family: Geist;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #F2D8A7;
  transition: color 0.2s;
}
