@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/geist');

:root {
  --border-width: 20px;
  --border-indent: calc(var(--border-width) * 3.5);
  --background-blue: #181743;
}

body {
  margin: 0;
  background-color: var(--background-blue);
  border: var(--border-width) solid white;
  border-top: none;
  min-height: 100vh; 
  font-family: Inter;
  color: white;
  
}

h1 {
    font-size: 3.5rem;
}

/* Kind of a jank fix but this allows the navbar background to show up properly */
.border {
  position: relative;                
  width: 100%;
  height: var(--border-width);       
  background: white;               
  z-index: 1;                        
}

.content-wrapper {
    margin-top: calc(var(--border-width) * 3);   
    /* background-color: red; */
    height: 100%;
    
}

