---
import Home from '../layouts/HomeLayout.astro'
import Wave from '../assets/waves_long.svg'
import LinkedIn from '../assets/icons/linkedin.svg'
import Mail from '../assets/icons/mail.svg'
import Github from '../assets/icons/github.svg'
import Planet from '../components/planet.astro'
import Card from '../components/card.astro'
import HireHigher from '../assets/project/hirehigher.jpg'
import VisuDocs from '../assets/project/visudocs.jpg'
import LoadBalancer from '../assets/project/loadbalancer.jpg'
import { loadRenderers } from 'astro:container'
---

<Home>
	<div class="intro-section">
		<div class="intro-content">
				<h1>Hi, I'm Nick.</h1>
				<p>I’m a computer science student based in Vancouver, BC. I was previously a systems intern at <a href="https://www.bcgsc.ca/">BC Cancer</a>.</p>
				<p>I’m interested in embedded systems, programming, and data science.</p>
		</div>
		<Planet />
	</div>
	<div class="wave-gap">

	</div>
	
	<!-- <div class="planet-container">
		<Planet />
	</div> -->
	<div class="wave">
		<Wave />
	</div>
	<div class="hero">
		
		<div class="intro-content">


		<p>At <a href="https://www.sfu.ca/">Simon Fraser University</a>, I'm currently a Software Developer for our Robot Soccer Team.</p>
		<p>I also previously helped build <a>AumOui</a>’s website.</p>
		<p>Take a look at my <a>resume</a>, or read more about my experiences <a>here</a>.</p>
		
		<div class="socials">
			<div class="link">
				<LinkedIn />
				<a href="https://www.linkedin.com/in/nicholasch-an/">nicholasch-an</a>
			</div>
			<div class="link">
				<Github />
				<a href="https://github.com/pnotato/">github.com/pnotato</a>
			</div>
			<div class="link">
				<Mail />
				<a href="mailto:nicholasch.an@outlook.com">nicholasch.an@outlook.com</a>
			</div>
		</div>

		</div>
	</div>
	<div class="wave reverse">
		<Wave />
	</div>
	<div class="projects-section">
		<h1>Projects</h1>
		<div class="cards-container">
			
			<Card label="HireHigher" image={HireHigher} />
			<Card label="Load Balancer" image={LoadBalancer}/>
			<Card label="VisuDocs" image={VisuDocs}/>
		</div>
		<div class="projects-button">
			<a class="button" href="/">View All</a>	
		</div>		
	</div>
	
	
	<style>
	.intro-section {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.intro-content {
		padding: 0 0 0 3rem;
	}

	.intro-content {
		width: min(50%, 800px);
		font-size: 2.5rem;
	}



	.intro-content a {
		color: #F2D8A7;
		text-decoration: none;
	}
	.intro-content a:hover {
		color: #F2C78A;
		transition: color 0.2s;
	}
	.intro-content .linkedin {
		display: block;
		margin-bottom: 0;
	}

	.wave {
		display: block;
		width: 100%;
		overflow: hidden;
	}
	.wave svg {
	display: block;
	margin-bottom: -1px;
	}
	.wave.reverse svg {
		transform: scaleY(-1);
	}

	.hero {
		height: fit-content;
		width:100%;
		background-color: #E85D5E;
		padding: var(--border-indent) 0 0 0;
		overflow: hidden;
	}
	.hero h1,
	.hero p,
	.hero a {
		margin-top: 0;
	}
	.link {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
	.projects-section {
		padding: var(--border-indent) 3rem var(--border-indent) 3rem;
	}
	.cards-container {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}
	.projects-button {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.5rem;
	}
	.projects-button a {
		font-size: 1.3rem;
		font-weight: 700;
	}

	
	</style>
</Home>
