---
import "../styles/components/header.css";

const { link, title } = Astro.props as {
    link: string;
    title: string;
}
---


<nav class="Navbar">
  <div class="brand">
     {Astro.url.pathname === "/" ? (
  <span class="name">Nicholas Chan</span>
) : (
  <a href="/" class="name">Nicholas Chan</a>
)}
    /
      <a class="page" href={link}> { title } </a>
  </div>  
  <div class="nav-links">
    <a class="button" href="/">About</a>  
    <a class="button" href="/">Blog</a>  
    <a class="button" href="/">Portfolio</a>  
  </div>
  
</nav>